.homepage {
    position: relative;
    min-height: 100vh;
    width: 100%;
  }
  
  .homepage-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-position: center 75%;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .homepage-logo {
    position: absolute;
    width: 400px;
    height: auto;
    top: 35%;
    left: 87%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

.homepage-text {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .homepage-text-1 {
    top: 22%;
    left: 4%;
    font-size: 80px;
  }
  
  .homepage-text-2 {
    top: 55%;
    left: 33%;
    font-size: 80px;
    white-space: normal;
    width: 1200px;
    text-align: right;
  }

  .homepage-text-2 .text-section-1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 2px;
    display: inline-block;
    font-style: italic;
  }
  
  .homepage-text-2 .text-section-2 {
    font-size: 54px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
    text-indent: 0px;
  }
  
  .homepage-text-2 .text-section-3 {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.4;
    text-indent: 0px;
    font-style: italic;
  }